# Cấu hình chuỗi kết nối Neon PostgreSQL
# Lấy chuỗi Connection String trong trang Console Neon (như trên ảnh chụp của bạn)
DATABASE_URL=postgresql://neondb_owner:YOUR_PASSWORD@ep-xxx.us-east-2.aws.neon.tech/neondb?sslmode=require
PORT=3000
